# List of [domains].duckdns.org that might be bound to this public IP
# Must be overridden by user!
#
# Example:
#domains=mydomain

# "Authentication Token" that will be used to authenticate into DuckDNS API.
# Must be overridden by user!
#
# Example:
#token=a7c4d0ad-114e-40ef-ba1d-d217904a50f2


# Sleep time between IP's change checks.
# Defines how long daemon will take to refresh IP changes.
# Must conform with 'sleep' command syntax
# Defaults to 5 minutes.
#
# Example:
#time=5m
